.main {
  background-color: var(--color-bg);
  padding: 80px 40px;
}

.main__title {
  font-size: 40px;
  margin-bottom: 40px;
}

.projects__grid {
  display: flex;
  justify-content: space-around;
}

.projects__title {
  font-size: 40px;
  padding-bottom: 20px;
}

.project-card {
  flex: 1;
  min-width: 0;
  background-color: #212121;
  border-radius: 8px;
  overflow: hidden;
  height: 660px;
  max-width: 44%;
}

.project-card__image-coffe,
.project-card__image-dev {
  height: 330px;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}

.project-card__image-coffe img,
.project-card__image-dev img {
  width: 100%;
  height: 100%;
  display: block;
}

.project-card__content {
  padding: 0 25px;
}

.project-card__title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.project-card__description {
  font-size: 18px;
  color: white;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.project-card__links {
  padding-bottom: 20px;
}
