.main {
  background-color: var(--color-bg);
  padding: 80px 40px;
}

.main__title {
  font-size: 40px;
  margin-bottom: 40px;
}

.projects__grid {
  display: flex;
  gap: 25px;
}

.projects__title {
  font-size: 40px;
  padding-bottom: 20px;
}

.project-card {
  flex: 1;
  min-width: 0;
  background-color: #212121;
  border-radius: 8px;
  overflow: hidden;
  height: 750px;
  max-width: 49%;
}

.project-card__image-coffe {
  max-height: 330px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.project-card__image-dev {
  max-height: 330px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.project-card__content {
  padding: 24px;
}

.project-card__title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.project-card__description {
  font-size: 18px;
  line-height: 1.5;
  color: white;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.project-card__link {
  padding-bottom: 20px;
}
